<h1>New Note</h1>

<%= form_for([@project, @version, @note], :validate => true, :remote => true, :html => {:class => "form-horizontal"}) do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.hidden_field :version_id, :value => @version.id %>

  <%= f.submit "Submit", :class => "btn btn-primary" %><br/>
  <%= link_to 'Cancel', project_path(@project) %>
<% end %>